<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="FanControl Pro"
    Manufacturer="$(var.Manufacturer)"
    Version="$(var.ProductVersion)"
    UpgradeCode="0D2F0C32-AB0A-4AC2-89E5-8EC77D5A7247">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main">
      <ComponentGroupRef Id="PublishedFilesGroup" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents">
      <Component Id="StartMenuShortcutComponent" Directory="AppProgramMenuFolder" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Name="FanControl Pro"
          Description="FanControl Pro"
          Target="[INSTALLFOLDER]$(var.AppExeName)"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveAppProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\FanControlPro" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="FanControl Pro"
          Description="FanControl Pro"
          Target="[INSTALLFOLDER]$(var.AppExeName)"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\FanControlPro" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="FanControl Pro" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramMenuFolder" Name="FanControl Pro" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />
  </Fragment>
</Wix>
